/*.cfg
/build
*.gitattributes
*.opensdf
*.sdf
*.suo
*.vcxproj
*.filters
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.ilk
*.user
*.out
*.output
*.pyc
*.*~*
*.swp
*.nfs*
*.pdf
*.o
*.d
*.dll
*.lib
makeout
/MS_Win32
bottleneck/build/
ann/lib
ann/bin
ann/lib/dummy
